/*-----------------------------------*\
  #SLIDER (Carrossel da Home)
\*-----------------------------------*/

img { max-width: 100%; }

section.slider {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
}

.slider-content {
  width: 400%; /* 4 slides */
  height: auto;
  display: flex;
}

.slider-content input, 
.img-mobile {
  display: none;
}

.slide-box {
  width: 25%;
  height: auto;
  text-align: center;
  transition: .8s;
  position: relative;
}

.slide-box img {
  width: 80%;
  margin: 0px auto;
  border-radius: 50px;
  display: block;
}

/* Navegação (Bolinhas) */
.nav-manual, .nav-auto {
  position: absolute;
  width: 100%;
  margin-top: 17.5%; /* Ajuste fino da posição vertical */
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, 
.nav-auto div {
  border: 1px solid rgb(255, 115, 0);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 0%;
  transition: .4s;
}

.nav-manual .manual-btn:not(:last-child), 
.nav-auto div:not(:last-child) {
  margin-right: 10px;
}

.nav-manual .manual-btn:hover {
  background-color: rgb(255, 115, 0);
}

/* Lógica de Navegação Automática/Checked */
#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3,
#radio4:checked ~ .nav-auto .auto-btn4 {
  background-color: rgb(255, 115, 0);
}

/* Lógica de Movimento do Slider */
#radio1:checked ~ .primeiro { margin-left: 0%; }
#radio2:checked ~ .primeiro { margin-left: -25%; }
#radio3:checked ~ .primeiro { margin-left: -50%; }
#radio4:checked ~ .primeiro { margin-left: -75%; }

/*-----------------------------------*\
  #RESPONSIVIDADE
\*-----------------------------------*/

@media screen and (max-width: 1200px) {
  .nav-auto, .nav-manual {
    margin-top: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .img-desktop { display: none; }
  .img-mobile { display: block; }

  .slide-box img {
    width: 90%;
    border-radius: 25px;
  }

  .nav-manual, .nav-auto {
    margin-top: 50%; /* Ajuste para mobile */
  }
}

@media screen and (max-width: 768px) {
  .slide-box img {
    width: 95%;
    border-radius: 20px;
  }

  .nav-manual, .nav-auto {
    margin-top: 60%;
  }
}

@media (max-width: 450px) {
  .nav-manual, .nav-auto {
    margin-top: 65%;
  }
}